<!-- MAIN CONTENT -->
<div id="main">
  <!-- CONTAINER 1 -->
  <div id="container-1" class="container">
    <!-- CONTAINER 2 -->
    <div id="container-2" class="container">
      <!-- CONTAINER 3 -->
      <div
        id="container-3"
        class="container"
        [perfectScrollbar]="{suppressScrollX: true}"
      >
        <!-- CONTENT -->
        <app-layout-content></app-layout-content>
        <!-- / CONTENT -->
      </div>
      <!-- CONTAINER 3 -->
    </div>
    <!-- CONTAINER 2 -->
  </div>
  <!-- CONTAINER 1 -->
</div>
<!-- / MAIN CONTENT -->
