<mat-toolbar class="mat-elevation-z2">
  <div fxFlex="grow" fxFill fxLayout="row" fxLayoutAlign="start center">

    <div fxFlex="1 0 auto" fxLayout="row" fxLayoutAlign="start center">

      <button
        *ngIf="(navigation$ | async).position === 'left'"
        mat-icon-button
        class="navbar-toggle-button"
        (click)="toggleSidebarOpen('navbar')"
      >
        <mat-icon>menu</mat-icon>
      </button>
    </div>

    <div fxFlex="0 1 auto" fxLayout="row" fxLayoutAlign="start center">

      <button mat-button [matMenuTriggerFor]="userMenu" class="user-button">
        <div fxLayout="row" fxLayoutAlign="center center">
          <img class="avatar mr-0 mr-sm-16" src="assets/images/avatar-preview.png">
          <span class="username mr-12" fxHide fxShow.gt-sm>Yurii Derevenko</span>
          <mat-icon class="s-16" fxHide.xs>keyboard_arrow_down</mat-icon>
        </div>
      </button>

      <mat-menu #userMenu="matMenu" [overlapTrigger]="false">

        <button mat-menu-item class="" (click)="logout()">
          <mat-icon>exit_to_app</mat-icon>
          <span>Logout</span>
        </button>
      </mat-menu>
    </div>
  </div>
</mat-toolbar>
